$hippie-blue: #49a09d !default;
$eminence: #5f2c82 !default;
$solid-white: rgba(254, 254, 254, 0.2) !default;
$solid-whiter: rgba(254, 254, 254, 0.6) !default;
$shuttle-gray: #5d6d7e !default;
$waikawa-gray: #54618e !default;
$robins-blue: #00d4d1 !default;
$french-pass: #B9F2FF !default;


$wild-strawberry: #FF4AAE !default;
$malibu: #5FC7FF !default;
$aqua: #00CCFF !default;
$east-side: #b682d2 !default;
$blue: #0017ff !default;
$dev: #F4FFFE !default;
$cornflower-blue: #6069EF !default;